<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav position="start" class="example-sidenav detailSidenav" mode="push" opened="false" style="width: 90%;">

    <button mat-icon-button class="btnCloseDet" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
      <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
    </button>

     
        <div  style="padding-left: 15px;padding-bottom: 10px;">
          <h4 style="margin-bottom: 15px;padding: 0;margin-top: 25px;" matSubheader>Request {{itemSelected?.RequestTypeDesc}} </h4> 
          <h2 matheader style="margin:0"> {{itemSelected?.InvestmentVehicleName}}  </h2>  
          <p matLine class="subline pl-3">Investment Analyst</p>     
          <button mat-flat-button style="color: aliceblue;" [ngClass]="itemSelected?.RequestStatusCode"> {{itemSelected?.RequestStatusDesc}} </button>     
        </div>



        <mat-list class="main_information">
          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.BLName}}</h4>
                <p matLine class="subline">Business Line</p>
              </div>
              <div matLine class="itemAnalyst">
                <h4 matLine class="map">{{itemSelected?.BusinessLineCode}}</h4>
                <p matLine class="subline">Business Line Code</p>
              </div>    
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.RequestDate | date:'short'}}</h4>    
                <p matLine class="subline">Request Date</p>
              </div>
              <div matLine class="itemAnalyst">
                <h4 matLine class="map">{{itemSelected?.EffectiveDate | date:'short'}}</h4>
                <p matLine class="subline">Effective Date</p>
              </div>    
            </div>
          </mat-list-item>
        </mat-list>

        <mat-list class="full_information">


          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.BLName}}</h4>
                <p matLine class="subline">Business Line</p>
              </div>
              <div matLine class="itemAnalyst">
                <h4 matLine class="map">{{itemSelected?.BusinessLineCode}}</h4>
                <p matLine class="subline">Business Line Code</p>
              </div>    
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.MAPNumber}}</h4>    
                <p matLine class="subline">MAP number</p>
              </div>
              <div matLine class="itemAnalyst">
                <h4 matLine class="map">{{itemSelected?.LastEmailNotification | date}}</h4>
                <p matLine class="subline">Last Email Notification</p>
              </div>    
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.AdditionalInfo}}</h4>    
                <p matLine class="subline">Additional Information</p>
              </div> 
            </div>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <mat-list class="full_information">
          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.BLName}}</h4>
                <p matLine class="subline">Business Line</p>
              </div>
              <div matLine class="itemAnalyst">
                <h4 matLine class="map">{{itemSelected?.BusinessLineCode}}</h4>
                <p matLine class="subline">Business Line Code</p>
              </div>    
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="itemDetailSide">
              <div matLine class="itemMap">
                <h4 matLine class="map">{{itemSelected?.MAPNumber}}</h4>    
                <p matLine class="subline">MAP number</p>
              </div>
              <div matLine class="itemAnalyst">
                <h4 matLine class="map">{{itemSelected?.LastEmailNotification | date}}</h4>
                <p matLine class="subline">Last Email Notification</p>
              </div>    
            </div>
          </mat-list-item>
        </mat-list>

        <h4  matsubheader class="mat-subheader" style="margin-left: 15px; padding: 0; margin-top: 15px;">Role Status List </h4>
       
       
        <div class="full_information rolesStatusList">
          <div *ngFor="let role of itemSelected?.SerializableRoleStatusList">
            <div class="itemDetailSide_Users">
              <div style="padding: 10px;"> 
        
                <ng-container *ngIf="role?.SerializableRoleUserList">  
                  <b>{{role.RequestRoleName}}</b> 
              
                  <mat-list >
                    <mat-list-item *ngFor="let user of role?.SerializableRoleUserList">
                  
                        <div matLine class="itemMap">
                          <h4 matLine class="map">{{user.FirstName}} {{user.LastName}}</h4>
                          <p matLine class="subline">{{user.UserName}}</p>
                        </div>   
                    
                    </mat-list-item>
                  </mat-list>              
                </ng-container>
              </div> 
           
            


            </div>
          </div>     
        </div>
 
  

  </mat-sidenav>

  <div class="example-sidenav-content">
    <div fxLayout="row" fxLayoutAlign="space-around center">

      <div class="container-title p-4">
        <h2 class="mat-h2 m-2" color="Primary" style="margin-bottom: 0;">
            <mat-icon>compare</mat-icon> Requests
        </h2>
        <!-- <button style="margin-top: -10px;" (click)="showFilters = !showFilters" mat-button color="primary"> <mat-icon>search</mat-icon></button> -->
      </div>  
    
      <ng-container *ngIf="itemsGroups">
                    <ng-container *ngFor="let group of itemsGroups | keyObject">
                      <b matSubheader>Request Type: {{group?.key}}</b>
                    
                      <ng-container *ngIf="group?.value">


                                  <mat-accordion *ngFor="let item of group.value; let i = index" class="example-headers-align" multi>
                                    <mat-expansion-panel *ngIf="i < 5">
                                      <mat-expansion-panel-header [collapsedHeight]="'70px'">
                                          
                                          <mat-nav-list>
                                            <mat-list-item class="itemLine">
                                              <div class="listGrid">
                                                  <span matLine class="tdManager"
                                                      [ngClass]="trimStatus(item.RequestStatusDesc)">
                                                      <h4 matLine>{{item.InvestmentVehicleName}}</h4>
                                                      <p matLine class="subline">{{item.RequestStatusDesc}} </p>
                                                  </span>
                                                  <div class="tdOptions">
                                                      <span matLine class="itemMap">
                                                          <h4 matLine class="map">{{item.SerializableRoleStatusList[0].SerializableRoleUserList[0].FullName}}</h4>
                                                          <p matLine class="subline" *ngIf="!item.EffectiveDate">
                                                            Created {{item.CreateDatetime | date:'short'}}  
                                                          </p>
                                                          <p matLine class="subline" *ngIf="item.EffectiveDate">
                                                            Effective {{item.EffectiveDate | date:'short'}}  
                                                          </p>

                                                      </span>
                                                  </div>                                     
                                              </div>
                                            </mat-list-item>
                                          </mat-nav-list>
                                        
                                      </mat-expansion-panel-header>
                            
                                      <div class="panelContent PanelDetailList">
                                        <h4 matSubheader style="display: flex; justify-content: space-between;">
                                          <span>{{item.AdditionalInfo}}</span>  
                                          <button mat-icon-button (click)="showDetail(item)" class="btnOpenDEtail" color="primary"> <mat-icon>list</mat-icon></button>
                                        </h4>  
                                        <b class="subSection">Product Head Pending approval by anyone below</b>
                                        <mat-nav-list>
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Veronica Bogado</h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                
                                              </ng-container>
                                          </mat-list-item>                          
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Vanesa Alvarez</h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                          
                                              </ng-container>
                                          </mat-list-item>                          
                                        </mat-nav-list>

                                        <br>

                            
                                        <b class="subSection">Investment Executive Pending approval by:</b>
                                        <mat-nav-list>
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Veronica Bogado</h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                
                                              </ng-container>
                                          </mat-list-item>                          
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Dolores Tagle</h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                          
                                              </ng-container>
                                          </mat-list-item>                          
                                        </mat-nav-list>
                                                    
                                        <br>

                                        <b class="subSection">Ops Co-Heads Pending approval by:</b>
                                        <mat-nav-list>
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Veronica Bogado</h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                
                                              </ng-container>
                                          </mat-list-item>                          
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Dolores Tagle</h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                          
                                              </ng-container>
                                          </mat-list-item>                          
                                          <mat-list-item class="itemLine">
                                              <ng-container >
                                                  <span matLine class="tdManager">
                                                      <h4 matLine>Alejandro Beltran </h4>
                                                  </span>
                                                  <div class="btnGroupActions">
                                                    <button mat-icon-button color="gray" (click)="openDialog()" class="btnAction btnReject" aria-label="Example icon button with a menu icon">
                                                      <mat-icon>block</mat-icon>
                                                    </button>   
                                                      <button mat-icon-button color="green" class="btnAction btnAccept" aria-label="Example icon button with a menu icon">
                                                        <mat-icon>check</mat-icon> 
                                                      </button>
                                                  </div>                                          
                                              </ng-container>
                                          </mat-list-item>                          
                                        </mat-nav-list>
                            
                                        <br>
                            
                                        <div style="display: flex;">
                                          <button mat-stroked-button color="secondary"> Cancel Termination</button>
                                          <button mat-stroked-button color="primary"> <mat-icon>email</mat-icon> Resend Notification</button>
                                        </div>
                                        <small style="padding:10px 20px 20px 10px ">Last email notifications on 1/18/2023 4:44 PM</small>
                                      </div>
                                    </mat-expansion-panel>  
                            
                                  </mat-accordion>
                      </ng-container>
                            
                  
                    </ng-container>

      </ng-container>
      




</div>
  </div>

</mat-sidenav-container>

    